Repository efefurkankarakaya/markdown-preview, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, components, pages, public, workflow, docker

chore(workflows): use greetings for `Issues` and `PRs`
  .github/workflows/greetings.yml
Labels: workflow

chore(workflow): handle stale `Issues` and `PRs`
  .github/workflows/stale.yml
Labels: workflow

chore: update lock file
  pnpm-lock.yaml
Labels: repo

chore: update lock file
  pnpm-lock.yaml
Labels: repo

chore(workflow): run tests on push
  .github/workflows/ci.yml
Labels: workflow

fix(ci): `ERR_PNPM_OUTDATED_LOCKFILE`
  pnpm-lock.yaml
Labels: repo

chore(workflows): run tests on push
  .github/workflows/ci.yml
Labels: workflow

chore(workflows): run tests on push
  .github/workflows/ci.yml
Labels: workflow

chore: remove unneces. dep.
  package.json
  pnpm-lock.yaml
Labels: repo

chore: specify test file matching pattern
  jest.config.js
Labels: repo

test: add test for `combineClasses()`
  __tests__/unit/utils.spec.ts
Labels: none

test: add tests for `convertMarkdownToHTML()`
  __tests__/unit/utils.spec.ts
  utils/utils.ts
Labels: none

feat: add welcome text
  constants/welcome.ts
  pages/index.module.css
  pages/index.tsx
  styles/globals.css
Labels: pages

test: wait until state change on component mount
  __tests__/snapshot/__snapshots__/home.spec.tsx.snap
  __tests__/snapshot/home.spec.tsx
  pages/index.tsx
Labels: pages

ui: display as column when <= 768px
  pages/index.module.css
  pages/index.tsx
  styles/globals.css
Labels: pages

test: update className in snapshot
  __tests__/snapshot/__snapshots__/home.spec.tsx.snap
Labels: none

chore: add prettier
  .prettierrc
  package.json
  pnpm-lock.yaml
Labels: repo

style: run `prettier --write`
  .eslintrc.json
  .prettierignore
  .prettierrc
  __tests__/snapshot/__snapshots__/home.spec.tsx.snap
  __tests__/snapshot/home.spec.tsx
  __tests__/unit/utils.spec.ts
  components/FixedTextArea/index.module.css
  components/FixedTextArea/index.tsx
  components/index.ts
  constants/welcome.ts
  jest.config.js
  jest.setup.js
  next.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/index.module.css
  pages/index.tsx
  styles/globals.css
  tsconfig.json
  utils/utils.ts
Labels: repo, components, pages

style: remove eof config, use default
  .eslintrc.json
  .prettierrc
  __tests__/snapshot/__snapshots__/home.spec.tsx.snap
  __tests__/snapshot/home.spec.tsx
  __tests__/unit/utils.spec.ts
  components/FixedTextArea/index.module.css
  components/FixedTextArea/index.tsx
  components/index.ts
  constants/welcome.ts
  jest.config.js
  jest.setup.js
  next.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/index.module.css
  pages/index.tsx
  styles/globals.css
  tsconfig.json
  utils/utils.ts
Labels: repo, components, pages

chore: run linter in ci
  .github/workflows/ci.yml
  __tests__/snapshot/home.spec.tsx
  package.json
  pnpm-lock.yaml
Labels: repo, workflow

chore: add pre-commit hook
  .husky/.gitignore
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: repo

ui: display code blocks
  styles/globals.css
Labels: none

ui: style lists and `<hr />`
  styles/globals.css
Labels: none

docs: add instructions to run
  README.md
Labels: repo

docs: remove unwanted backticks
  README.md
Labels: repo

chore: deploy next on gh
  .github/workflows/nextjs.yml
Labels: workflow

chore: use pnpm to deploy
  .github/workflows/nextjs.yml
  package.json
Labels: repo, workflow

chore: update manager npm to pnpm
  .github/workflows/nextjs.yml
Labels: workflow

chore: run tests before deployment
  .github/workflows/ci.yml.old
  .github/workflows/nextjs.yml
Labels: workflow

chore: run jobs sequentially
  .github/workflows/cicd.yml
Labels: workflow

docs: minor updates on README.md
  README.md
Labels: repo

feat: use `title` and `favicon.ico`
  pages/_document.tsx
  public/next-favicon.ico
Labels: pages, public

ui: style blockquotes
  package.json
  styles/globals.css
Labels: repo

chore: include dependabot to check version updates
  .github/dependabot.yml
Labels: none

fix: using wrong value for pnpm
  .github/dependabot.yml
Labels: none

chore: shorten action name
  .github/workflows/cicd.yml
Labels: workflow

feat: format text on click bold
  .github/workflows/cicd.yml
  README.md
  __tests__/snapshot/__snapshots__/home.spec.tsx.snap
  components/TransparentButton/index.module.css
  components/TransparentButton/index.tsx
  package.json
  pages/index.module.css
  pages/index.tsx
  public/icons/bold.svg
  public/icons/italic.svg
  utils/utils.ts
Labels: repo, components, pages, public, workflow

fix: build error caused by linter errors
  components/TransparentButton/index.tsx
  pages/index.tsx
Labels: components, pages

chore: check types to prevent build errors
  package.json
Labels: repo

refactor: move format functions outside
  .prettierrc
  README.md
  __tests__/snapshot/__snapshots__/home.spec.tsx.snap
  common/types.ts
  helpers/formatHelpers.ts
  pages/index.tsx
  public/icons/h1.svg
  public/icons/h2.svg
  public/icons/h3.svg
  public/icons/h4.svg
  public/icons/h5.svg
  public/icons/h6.svg
  public/icons/index.ts
  public/icons/link.svg
Labels: repo, pages, public

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - "*"

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - __tests__/**/*.spec.js

components:
  - any: ["components/**"]

pages:
  - any: ["pages/**"]

public:
  - any: ["public/**"]

workflow:
  - any: [".github/workflows/**"]

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
docker:
  - any: ["Dockerfile", ".dockerignore"]
