Repository efefurkankarakaya/markdown-preview, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, components, pages, public, workflow, docker

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - "*"

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - __tests__/**/*.spec.js

components:
  - any: ["components/**"]

pages:
  - any: ["pages/**"]

public:
  - any: ["public/**"]

workflow:
  - any: [".github/workflows/**"]

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
docker:
  - any: ["Dockerfile", ".dockerignore"]

refactor: use IconButton
  __tests__/snapshot/__snapshots__/home.spec.tsx.snap
  components/IconButton/index.module.css
  components/IconButton/index.tsx
  pages/index.tsx
  public/icons/index.ts
Labels: components, pages, public

feat: track user selection
  pages/index.tsx
Labels: pages

refactor: use more generic approach for selection tracking
  constants/regexes.ts
  helpers/formatHelpers.ts
  pages/index.tsx
Labels: pages

fix: unable to get selection on firefox
  pages/index.tsx
Labels: pages

feat: remove unsupported font features for now
  __tests__/snapshot/__snapshots__/home.spec.tsx.snap
  pages/index.tsx
Labels: pages

chore: add .nvmrc
  .nvmrc
Labels: repo
